@import url('https://fonts.googleapis.com/css?family=Catamaran');
body{
	margin: 2px 20px;
	font-family: "Catamaran";
}

/* Background styles. */

.background-dark{
	background: #222233;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.background-light{
	background: #ddddee;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* Styles for headers. */

.header-text{
	color: #bbeeff;
	font-size: 200%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.header-medium-text{
	color: #bbeeff;
	font-size: 300%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.header-text:hover, .header-medium-text:hover{
	text-shadow: 0em 0em 0.5em #eeee00;
	transition: 1s;
}
.header-big-text{
	color: #bbeeff;
	font-size: 600%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.header-big-text:hover{
	text-shadow: 0em 0em 0.5em #eeee00;
	transition: 2s;
}
.nav-center{
	text-align: center;
	width: 100%;
	display: inline-block;
	background-color: #333333;
}

/* Styles for navigation bars. */

.nav-center li{
	width: 33%;
	font-size: 200%;
}
.nav-center ul{
	padding: 0;
	display: table;
	width: 100%;
	list-style: none;
}

/* Styles for pictures. */

.pic-yellow-glow{
	width: 90%;
	margin: 0 5%;
	box-shadow: 0 0 50px #3399ff;
	transition: 0.5s;
}
.pic-yellow-glow:hover{
	box-shadow: 0 0 100px #eeee00;
	transition: 2s;
}

/* Styles for displaying project information. */

.project-3D, .project-Phys, .project-B2M{
	margin: 50px 80px;
	height: 6.75em;
	width: 12em;
}
.project-boxes{
	margin: 0px;
	align-content: center;
}
.project-button{
	margin: 30px 30px;
	height: 6.75em;
	width: 12em;
}
.project-button:hover{
	background-color: #3399ff;
	transition: 0.1s;
}
.project-button:active{
	background-color: #bbeeff;
	transition: 0.02s;
}
.project-3D, .project-Phys, .project-B2M, .project-button{
	background-color: #2277ff;
	border-radius: 6px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 200%;
	vertical-align: 50%;
	border: auto;
	padding: auto;
	color: #ffffff;
	opacity: 0%;
	transition: 0.05s;
}
.not-found{
	background-image: url(/images/thumbnails/imagemissing.png);
}
.test-image{
	background-image: url(/images/thumbnails/test.png);
}
.project-image, .not-found, .test-image{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* Styles for text. */

.text{
	color: #bbeeff;
	font-size: 100%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.text:hover{
	text-shadow: 0em 0em 0.5em #eeee00;
	transition: 1s;
}
.text-large{
	color: #bbeeff;
	font-size: 150%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.text-large:hover{
	text-shadow: 0em 0em 0.5em #eeee00;
	transition: 1s;
}

/* Custom styles for common HTML tags. */

a, a:link{
	color: #bbeeff;
	/* text-shadow: 0em 0em 0.3em #eeee00; */
	transition: 0.5s;
}
a:visited{
	color: #eeee00;
	/* text-shadow: 0em 0em 0.3em #ff3399; */
}
a:hover{
	color: #ff3399;
	/* text-shadow: 0em 0em 0.3em #3399ff; */
	transition: 1s;
}
li{
	float: left;
}
li a{
	display: block;
	color: #bbeeff;
	text-shadow: 0em 0em 0.2em #bbeeff;
	text-align: center;
	border-radius: 15px;
	margin: 2px 10px;
	padding: 14px 40px;
	text-decoration: none;
	transition: 0.5s;
}
li a:hover{
	color: #bbeeff;
	text-shadow: 0em 0em 0.4em #3399ff;
	background-color: #777700;
	transition: 2s;
}
li a:visited{
	color: #bbeeff;
	text-shadow: 0em 0em 0.4em #3399ff;
	background-color: #777700;
	transition: 2s;
}
